*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start screen of the game */
.startScreen{
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton{
  background-color: #1e90ff;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* game-background elements and animations */
.full-screen {
    background-color: #000; /* Dark background color */
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: none;
  }

  .star{
    position: absolute;
    border-radius: 50%;
    
    
  }

  @keyframes twinkle {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0.2; }
}

/* Space ship style */

.svg-responsive{
  width: 12vw;
}

#spaceShip{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    z-index: 100;
    animation: rotate 10s linear infinite; /* Rotation animation */
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* asteroid */
.asteroid{
  position: absolute;
  top: 0;
}

/* mobile-controls */
.controls{
  position: absolute;
  top: 77vh;
  z-index: 300;
}

@media (min-width:769px){
  .controls{
    display: none !important;
  }
}